:root {
    --color-off-white: hsl(0,0%,98%);

    --color-grey: hsl(0, 0%, 96%);
    --color-darkgrey: hsl(206.3, 6.8%, 53.7%);

    --color-off-black: rgb(55, 58, 60);
    --color-black-translucent: hsla(0, 0%, 0%, 0.125);

    --color-red: hsl(0, 53.7%, 48.2%);
}
